@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth  ;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #558bf0;
}

section {
  padding: 7rem 10%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #444;
}

.btn1{display: inline-block;
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: #0616f8;
  border-radius: 4rem;
  cursor: pointer;
  text-transform: capitalize;
  background:rgb(250, 251, 252);
}

.btn1:hover {
  background: #0616f8;
  color: #fff;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid #0616f8;
  background: #eaf3fc;
  color: #0616f8;
  border-radius: 4rem;
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  background: #0616f8;
  color: #fff;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(250, 250, 250);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1.2rem 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

#logo1 img{
  height: 4.3rem;
  margin-right:2rem;

}

.header .logo {
  margin-right: auto;
  font-size: 2.8rem;
  text-transform: capitalize;
  color: #444;
  /* rgb(250, 250, 250) */
  font-weight: bolder;
  -webkit-text-stroke: 0.1vw #444;
}
.header .logo::before{
  content: attr(data-text);
  position: absolute;
  height: 100%;
  color: #0616f8;
  -webkit-text-stroke: 0vw #0616f8;
  overflow: hidden;
  animation: animate 8s linear infinite;
}

@keyframes animate
{
  0%,20%,100%
  {
    width: 0;

  }
  70%,90%
  {
    width: 100%;

  }
}

.header .navbar {
  position: relative;
}

.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #0616f8;
  display: none;
}

.header .navbar #close-navbar:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.header .navbar a:hover {
  color: #0616f8;
}

.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 1.5rem;
}

.header .icons div:hover {
  color: #0616f8;
}

.header #menu-btn {
  display: none;
}

.account-form {
  position: fixed;
  top: 0;
  right: -105%;
  width: 35rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  z-index: 1200;
  padding: 2rem;
  text-align: center;
}

.account-form.active {
  right: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
}

.account-form #close-form {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
}

.account-form #close-form:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.account-form form {
  border: 0.1rem solid #0616f8;
  padding: 2rem;
  display: none;
}

.account-form form.active {
  display: block;
}

.account-form form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: .5rem;
  text-transform: uppercase;
}

.account-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #0616f8;
  font-size: 1.6rem;
  margin: .7rem 0;
}

.account-form form .flex {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.account-form form .flex label {
  font-size: 1.5rem;
  color: #777;
  cursor: pointer;
}

.account-form form .flex a {
  font-size: 1.5rem;
  color: #777;
  margin-left: auto;
}

.account-form form .flex a:hover {
  text-decoration: underline;
  color: #0616f8;
}

.account-form form .btn {
  width: 100%;
}

.account-form .buttons .btn {
  margin: 0 .5rem;
}

.account-form .buttons .btn.active {
  background: #0616f8;
  color: #fff;
}

.subjects .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.subjects .box-container .box {
  padding: 3rem 2rem;
  justify-content: center;
  text-align: center;
  border: 0.1rem solid #0616f8;
  background: #eaf3fc;
  cursor: pointer;
}


.subjects .box-container .box img {
  height: 10rem;
  margin-bottom: .7rem;
}

.subjects .box-container .box h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.subjects .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.home-courses .slide {
  text-align: center;
  position: relative;
  background: #eaf3fc;
  border: 0.1rem #0616f8 solid ;
  overflow: hidden;
}

.home-courses .slide:hover .content {
  bottom: 0;
}

.home-courses .slide .image {
  padding: 2rem;
}

.home-courses .slide .image img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.home-courses .slide .image h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.home-courses .slide .content {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  background: #0616f8;
  padding: 2rem 3rem;
}

.home-courses .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  color: #fff;
}

.home-courses .slide .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  color: #eee;
}

.home-courses .slide .content .btn:hover {
  background: rgb(206, 233, 250);
  color: red;
}

.about {

  margin-top: 2rem;
  
}
.about .content .about-title {
  margin-top: 1rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
}

.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

.about .content .icons-container {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.about .content .icons-container .icons {
  text-align: center;
  border: 0.1rem solid #0616f8;
  background: #eaf3fc;
  padding: 3rem 2rem;
}

.about .content .icons-container .icons img {
  height: 11rem;
  margin-bottom: .5rem;
  transition: transform 2s;
}

.about .content .icons-container .icons :hover img {
  transform: scale(1.3);
}

.about .content .icons-container .icons h3 {
  padding: .5rem 0;
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
}

.about .content .icons-container .icons span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}
  

.footer {
  background: #eaf3fc;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: 1rem 0;
}

.footer .box-container .box h3 i {
  color: #0616f8;
}

.footer .box-container .box .share {
  margin-top: 1rem;
  text-align: center;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background-color: #0616f8;
  color: #fff;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background-color: #444;
}

.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: #777;
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box .link:hover {
  color: #0616f8;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid #0616f8;
  margin-bottom: 1rem;
}

.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  border-top: 0.1rem solid #0616f8;
}

.footer .credit span a {
  color: #0616f8;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: #fff;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1200;
  }
  .header .navbar #close-navbar {
    display: block;
  }
  .header .navbar.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .about .content .about-title {
    font-size: 4rem;
  }
}

.whatsapp_float{
  position: fixed;
  bottom: 2rem;
  right: .01rem; 
}

.banner{
  width: 100%;
  height: 55rem;
  position: relative;
  overflow: hidden;
}
.slider{
  width: 100%;
  height: 55rem;
  position: absolute;
  top: 0;

}

#slideimg{
  width: 100%;
  height: 55rem;
  animation: zoom 2s linear infinite;
}

@keyframes zoom{
  0%{
      transform: scale(1.3);
  }
  25%{
      transform: scale(1);
  }
  75%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.3);
  }
}

.overlay{
  width: 100%;
  height: 60rem;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  position: absolute;
  top: 0;
}

.content1{
  color: white;
  align-items: center;
  width: 50rem;
  margin-left: 10rem;
  margin-top: 20rem;
  font-size: large;

}

.btext h3 {
  position: absolute;
  top: 20%;
  left: 38%;
  transform: translate(-50%,-50%);
  text-transform: capitalize;
  font-size: 4.2rem;
  color: transparent; 
}

.btext h3::before{
  content: attr(data-text);
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: yellow;
  overflow: hidden;
  animation: type 10s linear infinite;
}
@keyframes type{
  0%{
   width: 0;
 }
 50%{
  width: 50%;
}
100%{
  width: 100%;
}
}

.content1 h4 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: white;
}

.content1 p {
  font-size: 1.6rem;
  line-height: 2;
  padding: 1rem 0;
  color: white;
}